@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,500&family=Pushster&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
          /* banner section start */

#banner
{
    background:
    linear-gradient(#20e9d5e5, rgba(0,0,0,0.4)) ,url(images/banner-sec.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1000;
}
.logo
{
    width: 180px;
    position: absolute;
    top: -4%;
    left: 6%;
}
.banner-text
{
    text-align: center;
    color: white;
    padding: 180px;
}
.banner-text h1
{
    font-size: 125px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
    text-shadow: 2px 2px 10px black;
}
.banner-text p
{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}
.banner-btn
{
    margin: 70px auto 0;
}
.banner-btn a
{
    width: 150px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: 1px solid white;
    box-shadow: 2px 2px 10px black;
    position: relative;
    z-index: 1;
    transition: color 1s;
}
.banner-btn a span
{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.6;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span
{
    width: 100%;
}
.banner-btn a:hover
{
    color: black;
}

@media screen and (max-width: 770px)
{
    .logo
    {
        width: 140px;
        position: absolute;
        top: -1%;
        left: 6%;
    }
    .banner-text
    {
        padding: 10px;
    }
    .banner-text h1
    {
        font-size: 53px;
        font-weight: bold;
        margin-top: 170px;
    }
    .banner-text p
    {
        font-style: italic;
        font-size: 21px;
        font-weight: 100;
    }
    .banner-btn a
    {
        display: block;
        margin: 20px auto;
    }
}

            /* banner section end */

           /* nav-bar section start */


#navbar
{
    width: 180px;
    height: 100vh;
    position: fixed;
    right: -180px;
    top: 0;
    background-color: #009688;
    z-index: 2;
    transition: 0.6s;
}
nav ul li
{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Kaushan Script', cursive;
}
#menubtn
{
    width: 30px;
    height: 30px;
    background-color: #026d62ec;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 42px;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;
}
#menubtn img
{
    width: 40px;
    margin: -5px;
}

           /* nav-bar section end */


         /* Features section start */
         
#feature
{
    width: 100%;
    padding: 70px 0;
}
.title-text
{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p
{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after
{
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.title-text h1
{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px 2px #444;
    font-weight: 300;
}
.feature-box
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features
{
    flex-basis: 50%;
}
.features-img
{
    flex-basis: 50%;
    margin: auto;
}
.features-img img
{
    width: 80%;
    height: 450px;
    border-radius: 10px;
}
.features h1
{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 50;
    color: #009688;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;

}
.description
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.icon .fa
{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.text p
{
    font-weight: 100;
    padding: 0 10px;
    font-style: italic;
    text-align: initial;
}

@media screen and (max-width: 770px)
{
    .title-text h1
    {
        font-size: 40px;
        font-weight: 300;
    }
    .features
    {
        flex-basis: 100%;
    }
    .features-img
    {
        flex-basis: 100%;
    }
    .features-img img
    {
        width: 100%;
    }
    .text p
    {
        text-align: justify;
    }
}
         /* Features section end */


        /* Services section Start */

#service
{
    width: 100%;
    padding: 70px 0;
    background-color: #efefef;
}
.service-box
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service
{
    flex-basis: 48%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-service img
{
    width: 100%;
    border-radius: 10px;
}
.overlay
{
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    background:
    linear-gradient(#04a898, rgba(0,0,0,0.5));
    opacity: 0;
    transition: 1.2s;
}
.single-service:hover .overlay
{
    opacity: 1;
}
.service-desc
{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1.2s;
}
hr
{
    background-color: white;
    height: 1px;
    width: 75%;
    border: 0;
    margin: 15px auto;
}
.service-desc h3
{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 100;
}
.service-desc p
{
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
}
.single-service:hover .service-desc
{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px)
{

    .single-service
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p
    {
        font-size: 14px;
    }
    hr
    {
        margin: 5px auto;
    }
    .single-service:hover .service-desc
    {
        bottom: 28% !important;
    }
}
        /* Services section end */



        /* Feedback section Start */


#feedback
{
    width: 100%;
    padding: 70px 0;
}
.feedback-row
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.feedback-col
{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0 10px 20px 3px grey;
    cursor: pointer;
    transition-duration: 0.8s;
}
.feedback-col p
{
    font-weight: lighter;
    font-style: italic;
    font-size: 16px;
    text-align: justify;
}
.user
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img
{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 4px;
}
.user-info .fa
{
    margin-left: 6px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info h4
{
    font-size: 30px;
    font-weight: 100;
    color: #009688;
    font-family: 'Kaushan Script', cursive;
    margin-top: -18px;
}
.user-info h6
{
    font-size: 14px;
    color: #888;
    font-weight: 100;
    margin-top: 4px;
    margin-left: -4px;
}
.feedback-col:hover
{
    background:
    linear-gradient(#03aa99c9, rgba(0,0,0,0.5));
    transform: scale(1.1);
}
.feedback-col:hover .user-info h4
{
    color: black;
}
.feedback-col:hover .user-info h6
{
    color: #006692;
}
.feedback-col:hover .user-info .fa
{
    color: #0575a5;
}

@media screen and (max-width: 770px)
{
    .feedback-col
    {
        flex-basis: 100%;
    }    
}
        /* Feedback section end */

        /* Footer section start */
#footer
{
    padding: 100px 0 20px;
    background-color: #efefef;
    position: relative;
}
.footer-row
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right
{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.footer-right
{
    text-align: right;
}
.footer-row h1
{
    margin: 10px 0;
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    color: #019578;
}
.footer-row p
{
    line-height: 25px;
}
.footer-row .fa
{
    color: #019578;
    font-size: 20px;
    margin: 8px;
    font-weight: 100;
}
.footer-img
{
    max-width: 300px;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
}
.social-media
{
    text-align: center;
}
.social-media .fa
{
    height: 40px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 0 5px;
    border-radius: 2px;
    color: #009688;
    font-weight: 100;
    transition: 0.6s;
}
.social-media .fa:hover
{
    color: white;
    transform: scale(1.2);
    background-color: #009688;
}
.social-media p
{
    font-size: 14px;
    font-weight: 100;
    margin-top: 50px;
}
.social-media p span
{
    font-size: 1.2em;
    font-family: 'Kaushan Script', cursive;
    color: #009688;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 770px)
{
    .footer-left, .footer-right
    {
        flex-basis: 100%;
        font-size: 12px;
    }
    .footer-img
    {
        max-width: 300px;
        opacity: 0.2;
        position: absolute;
        left: 50%;
        top: 22%;
        transform: translate(-50%, -50%);
    }
    .social-media .fa
    {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }
    .social-media p
    {
        font-size: 11px;
        margin-bottom: 5px;
    }
    .social-media p span
    {
        font-size: 1em;
        font-weight: 100;
    }
}
        /* Footer section end */